# Default ignored files
/../../../Übungen/BV3_schaparwary_kiunuhe/.idea/shelf/
/../../../Übungen/BV3_schaparwary_kiunuhe/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Übungen/BV3_schaparwary_kiunuhe/.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../../Übungen/BV3_schaparwary_kiunuhe/.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../../Übungen/BV3_schaparwary_kiunuhe/.idea/dataSources/
/../../../Übungen/BV3_schaparwary_kiunuhe/.idea/dataSources.local.xml
